/*Base Styles---------------------------------*/

* {
	box-sizing: border-box;
}

body {
	padding: 1em;
	background: $color-main;
}

#wrap {
	
	@media #{$brk-wide} {
			max-width: 1400px;
			margin: auto;
	}
}

a {
	text-decoration: none;
	color: $color-text;
	font-size: 1.07em
			
}

#main-nav a:hover {
	color: $color-hover;
}


#footer-nav a:hover {
	color: $color-hover;
}

#back:hover {
	color: $color-hover;
}

li {
	list-style: none;
}

ul {
	padding-left: 0;
}

h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.3em
}

p {
	font-family: 'Lato', sans-serif;
	margin-top: 0;
	margin-bottom: 40px
}

img {
	max-width: 100%;
}

h1, h2, h3, a {
	font-family: 'Kameron', serif;
	color: $color-text;
}


